body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.details-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.header h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #343a40;
}

.header p {
    margin: 0.5rem 0 1.5rem;
    font-size: 1rem;
    color: #6c757d;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-size: 0.9rem;
    color: #495057;
    margin-bottom: 0.3rem;
    display: block;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
}

input:focus, select:focus {
    outline: none;
    border-color: #007bff;
    background-color: #ffffff;
}

.primary-btn {
    padding: 0.8rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.primary-btn:hover {
    background-color: #0056b3;
}

.secondary-btn {
    padding: 0.5rem 1rem;
    color: #007bff;
    background: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.secondary-btn:hover {
    background-color: #007bff;
    color: #ffffff;
}
